body {
  display: flex;
  background-color: rgb(42, 48, 56);
  margin: 8;
  overflow-x: hidden;
  user-select: none;
}
.header {
  background-color: rgb(23, 29, 37);
  width: 100%;
  height: 10%;
  top: 0px;
  left: 0px;
  z-index: 5;
  position: fixed;
}
.topOptions {
  height: 35%;
  width: 100%;
  left: 0px;
}
.topOptionsText {
  margin-left: 10px;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(119, 126, 134);
  font-size: 11px;
  font-weight: 300;
}
.navBox {
  height: 65%;
  width: 100%;
  left: 0px;
}
.navArrows {
  color: rgb(61, 68, 80);
  font-weight: 1000;
  background: none;
  border: none;
  font-size: large;
}
.TextButton {
  padding: 6px;
  color: rgb(218, 218, 218);
  font-size: large;
  font-weight: 550;
  background: none;
  border: none;
}
.TextButton:hover {
  color: rgba(255, 253, 253, 255);
}
.TextButton:active {
  color: rgb(0, 110, 255);
}
.steamLibrary {
  bottom: 0px;
  padding-top: 60px;
  position: relative;
  display: flex;
  align-items: center;
}
.menuBox {
  width: 200px;
  flex-shrink: 0;
  position: relative;
}
.menu {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 180px;
  height: 100%;
  background-color: rgb(36, 40, 47);
  border: 0px solid rgb(23, 29, 37);
  border-right: 2px solid rgb(23, 29, 37);
  padding: 10px;
  padding-top: 80px;
  z-index: 1;
}
.menuField {
  margin-bottom: 10px;
  background-color: rgb(33, 34, 39);
  color: rgb(161, 173, 173);
  border-radius: 5px;
  padding-left: 4px;
  padding-right: 4px;
  width: 90%;
  height: 30px;
  white-space: nowrap;
  font-size: 14px;
  transition: all 0.3s ease;
  outline: none;
  border: none;
}
.menuField::placeholder {
  opacity: 1;
  transition: opacity 0.05s ease-in-out;
}
.menuField:focus {
  &::placeholder {
    opacity: 0;
  }
  border-color: #007bff;
  background-color: rgb(29, 31, 35);

  box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.4);
}
.game {
  user-select: none;
  position: relative;
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
}
.gameImg {
  height: 250px;
  object-fit: cover;
  box-shadow: 1px 1px 10px;
  display: block;
}
.gameImg:hover {
  transform: scale(1.04);
}
.hourCount {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  position: absolute;
  background-color: rgb(61, 68, 80);
  border-radius: 2px;
  box-shadow: 1px 1px 10px rgb(0, 0, 0);
  width: fit-content;
  font-size: small;
  white-space: nowrap;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  color: white;
}
